.Titulo {
    
    text-align: center;
    font-size: 200px;
    
}

.boton {
    color: slateblue;
}

.boton:active{
    color: aquamarine;
}

p::first-letter{
    
    font-size: 35px;
}

body{
    
    background-image: url(/Imagenes/pa.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; 
}

li{
   
    float: left;
    
    
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
    color: gold;
    
}